<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Amateur Builds</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://kit.fontawesome.com/f9b37ef16f.js" crossorigin="anonymous"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="wholeHeader">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/index"> <img src="img/ab.png" alt=""> </a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									
								
									<li><a href="/login">Completed Builds</a></li>
									<li class="break"><a href="/login">Draft Builds</a></li>
									<li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>

								</ul>
							</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>PC Budget Builder
									
								</h2>
							</header>
							<p>Easiest way to get into PC building </p>
							
						</section>
						

				</div>


			<!-- Promo -->
				<div id="promo-wrapper">
					<section id="promo">
						<h2>Sign in and check out other people's builds and post your own!</h2>
						<a href="/login" class="button">Login</a>
					</section>
				</div>

		

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header class="major">
							<h2>Leave me a message! </h2>
							<p>Intrested to know more? I'd love to talk more about computers or how I built this website. </p>
						</header>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<!-- <script src="main.js"></script> -->

	</body>
</html>
